.message {
    font-family: ProximaNova, Helvetica, Arial;
    font-size: 14px;
    color: #999999;
}

.portfolio-item {
    font-family: ProximaNova, Helvetica, Arial;
    font-size: 14px;
    color: #666666;

}